.env
.env.*
!.env.example
/storage/logs/*
/storage/cache/*
*.log
*.hprof
.DS_Store
Thumbs.db

/android/.gradle/
/android/.idea/
/android/build/
/android/app/build/
/android/app/google-services.json
/android/local.properties
